
/ibutton_owpd310r2/build
/ibutton_owapi_1_10/bin
/android_librxtxSerial/obj
/android_librxtxSerial/bin
/android_ibutton_lib/bin
/android_ibutton_app/bin
/ibutton_netlink_linux/Debug
/ibutton_netlink_linux/Release
/ibutton_netlink_linux/bin
/ibutton_netlink_linux/obj